.LoadMoreBtn {
  background-color: #eeeeee;
  width: 300px;
  border: 1px solid #3d3d3d;
  height: 40px;
  border-radius: 2px;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 4px 5px 16px 0px #2b2b2b;
  transition: all 0.2s ease-in-out;

  &:hover {
    background-color: #3d3d3d;
    color: #dfdfdf;
    border-color: #3d3d3d;
  }
}
